MAILER_PASSWORD=your_mailer_password_here
GROQ_API_KEY_HEALTH=your_groq_api_key_health_here
GROQ_API_KEY_PREDICTION=your_groq_api_key_prediction_here
GROQ_API_KEY_CHATBOT=your_groq_api_key_chatbot_here
